
<title>JLPT Traning</title>
<!-- Common Kendo UI CSS for web widgets and widgets for data visualization. -->
<link href="stylesheets/telerik/styles/kendo.common.min.css" rel="stylesheet" />
<!-- (Optional) RTL CSS for Kendo UI widgets for the web. Include only in right-to-left applications. -->
<link href="stylesheets/telerik/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
<!-- Default Kendo UI theme CSS for web widgets and widgets for data visualization. -->
<link href="stylesheets/telerik/styles/kendo.default.min.css" rel="stylesheet" />
<!-- (Optional) Kendo UI Hybrid CSS. Include only if you will use the mobile devices features. -->
<link href="stylesheets/telerik/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />
<!-- jQuery JavaScript -->

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!--script src="stylesheets/telerik/js/jquery.min.js"></script-->
<!-- Kendo UI combined JavaScript -->
<script src="stylesheets/telerik/js/kendo.all.min.js"></script>

<!--link rel="stylesheet" type="text/css" href="/stylesheets/main.css" /-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<style> body { padding-top: 70px; } </style>
